<div>
  <header class="header_class">
    <div class="wrapper">
      <ul class="header_top">
        <!-- <li><strong>ARDB Name: </strong>{{ardbName}}</li> -->
        <li><strong>Organization: </strong>{{ardbName}}</li>
        <li><strong>Branch: </strong>{{sys?.BranchName}}</li>
        <li><strong>Financial Year: </strong>{{sys?.CurrentFinancialYr}}</li>
        <li><strong>User: </strong>{{sys?.UserId}}</li>
        &nbsp; <li class="date"><strong>Operation Date: </strong> {{sys?.CurrentDate | date:'dd-MM-yyyy'}}</li>
        <!-- &nbsp; <li class="date"><strong>Operation Date: </strong> {{sys?.CurrentDate}}</li> -->
        <li><strong>Current Date: </strong> {{currDt | date:'dd-MM-yyyy' }} {{currTm}}</li> 
      </ul>
    </div>
  </header>
  <div class="row" >
    <nav class="navbar navbar-expand-lg col-md-12 col-xl-12">
  <div [hidden]="hideMenuOnComplete">
    <!-- <div > -->
    <!-- <button mat-button [matMenuTriggerFor]="ucic">UCIC</button>
    <button mat-button [matMenuTriggerFor]="finance">Finance</button>
    <button mat-button [matMenuTriggerFor]="deposit">Deposit</button>
    <button mat-button [matMenuTriggerFor]="loans">Loans</button>
    <button mat-button [matMenuTriggerFor]="system">System</button>
    <button mat-button [matMenuTriggerFor]="transfer">Transfer</button> -->
    <button mat-button [matMenuTriggerFor]="ucic"><mat-icon>account_box</mat-icon>
      UCIC</button>  <label class = "vertical"></label>
    <button mat-button [matMenuTriggerFor]="finance"><mat-icon>monetization_on</mat-icon>
      Finance</button>  <label class = "vertical"></label>
    <button mat-button [matMenuTriggerFor]="deposit"><mat-icon>savings</mat-icon>
      Deposit</button>  <label class = "vertical"></label>
    <button mat-button [matMenuTriggerFor]="loans"><mat-icon>real_estate_agent</mat-icon>
      Loans</button>  <label class = "vertical"></label>
    <button mat-button [matMenuTriggerFor]="system"><mat-icon>settings</mat-icon>
      System</button>  <label class = "vertical"></label>
    <button mat-button [matMenuTriggerFor]="transfer">
      <mat-icon>transform</mat-icon> 
      Transfer</button> <label class = "vertical"></label>
      <button mat-button [matMenuTriggerFor]="investment">
        <mat-icon>switch_access_shortcut_add</mat-icon>
        Investment</button> 
        <!-- <button mat-button [matMenuTriggerFor]="test">
          <mat-icon>switch_access_shortcut_add</mat-icon>
          test</button>  -->
  
    <mat-menu #ucic="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="utransaction">
        <mat-icon>currency_exchange</mat-icon>
        <span>Transaction</span>
      </button>
    </mat-menu>
    <mat-menu #utransaction="matMenu">
      <button mat-menu-item routerLink="UT_CustomerProfile" >
        <mat-icon>group</mat-icon>
        <span>Customer Profile Entry</span>
      </button>
      <button mat-menu-item routerLink="UT_SelfHelp" >
        <mat-icon>help</mat-icon>
        <span>Self Help Group</span>
      </button>
      <button mat-menu-item routerLink="UR_MemberList">
        <mat-icon>list_alt</mat-icon>
        <span> Member List</span>
      </button>
      <button mat-menu-item routerLink="UR_Networth">
        <mat-icon>summarize</mat-icon>
        <span> Net Worth Statement</span>
      </button>
    </mat-menu>
    <!-- end ucic menu -->
    <mat-menu #finance="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="ftransaction">
        <mat-icon>currency_exchange</mat-icon>
        <span>Transaction</span>
      </button>
      <button mat-menu-item [matMenuTriggerFor]="report">
        <mat-icon>inventory</mat-icon>
        <span>Report</span>
      </button>
    </mat-menu>
    <mat-menu #ftransaction="matMenu">
      <button mat-menu-item routerLink="FT_Voucher">
        <mat-icon>local_activity</mat-icon>
        <span>Voucher</span>
      </button>
      <button mat-menu-item routerLink="FT_ApproveTrns">
        <mat-icon>verified</mat-icon>
        <span>Approve Voucher</span>
      </button>
      <button mat-menu-item routerLink="FT_BackdateVoucher">
        <mat-icon>history</mat-icon>
        <span>Backdate Voucher Entry</span>
      </button>
      <button mat-menu-item routerLink="FT_YearlyVoucher">
        <mat-icon>free_cancellation</mat-icon>
        <span>Yearly Adjustment Voucher Entry</span>
      </button>
      <button mat-menu-item routerLink="FT_CreateGlHead" *ngIf="userType=='A'">
        <mat-icon>loupe</mat-icon>
        <span>Create Gl Head</span>
      </button>
    </mat-menu>
    <mat-menu #report="matMenu">
      <button mat-menu-item routerLink="FT_PrintVoucher">
        <mat-icon>print</mat-icon>
        <span>Print Voucher</span>
      </button>
      <button mat-menu-item routerLink="FR_CashAccount">
        <mat-icon>account_balance</mat-icon>
        <span>Cash Account</span>
      </button>
      <button mat-menu-item routerLink="FR_DayBook">
        <mat-icon>auto_stories</mat-icon>
        <span>Day Book</span>
      </button>
      <button mat-menu-item routerLink="FR_CashCumTrial">
        <mat-icon>currency_rupee</mat-icon>
        <span>Cash Cum Trial</span>
      </button>
      <button mat-menu-item routerLink="FR_TrialBalance">
        <mat-icon>device_hub</mat-icon>
        <span>Trial Balance</span>
      </button>
      <button mat-menu-item routerLink="FR_GeneralLadger">
        <mat-icon>menu_book</mat-icon>
        <span>General Ledger</span>
      </button>
      <button mat-menu-item routerLink="FR_GLTD">
        <mat-icon>query_stats</mat-icon>
        <span>GL Transaction Details</span>
      </button>
      <button hidden mat-menu-item routerLink="FR_BalanceSheet">
        <mat-icon>legend_toggle</mat-icon>
        <span>Balance Sheet</span>
      </button>
      <button mat-menu-item routerLink="FR_ProfitLoss">
        <mat-icon>data_thresholding</mat-icon>
        <span>Profit And Loss A/C</span>
      </button>
      <button mat-menu-item routerLink="FR_WeeklyReturn">
        <mat-icon>date_range</mat-icon>
        <span>Weekly Return</span>
      </button>
      <button mat-menu-item routerLink="FR_CdCashAccount" *ngIf="userType=='A'">
        <mat-icon>add_to_photos</mat-icon>
        <span>Consolidated Cash Account</span>
      </button>
      <button mat-menu-item routerLink="FR_CdDayBook" *ngIf="userType=='A'">
        <mat-icon>library_books</mat-icon>
        <span>Consolidated Day Book</span>
      </button>
      <button mat-menu-item routerLink="FR_CdCashCumTrial" *ngIf="userType=='A'">
        <mat-icon>add_chart</mat-icon>
        <span>Consolidated Cash Cum Trial</span>
      </button>
      <button mat-menu-item routerLink="FR_CdTrialBalance" *ngIf="userType=='A'">
        <mat-icon>margin</mat-icon>
        <span>Consolidated Trial Balance</span>
      </button>
      <button mat-menu-item routerLink="FR_allGLHead" *ngIf="userType=='A'">
        <mat-icon>list_alt</mat-icon>
        <span>Account Master Details</span>
      </button>
      
    </mat-menu>
    <!-- end finance menu -->
    <mat-menu #deposit="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="dftransaction">
        <mat-icon>currency_exchange</mat-icon>
        <span>Transaction</span>
      </button>
      <button mat-menu-item [matMenuTriggerFor]="dreport">
        <mat-icon>inventory</mat-icon>
        <span>Report</span>
      </button>
    </mat-menu>
    <mat-menu #dftransaction="matMenu">
      <button mat-menu-item routerLink="DT_OpenAcc">
        <mat-icon>account_balance</mat-icon>
        <span>Account Opening</span>
      </button>
      <button mat-menu-item routerLink="DT_AccTrans">
        <mat-icon>paid</mat-icon>
        <span>Account Transactions</span>
      </button>
      <button mat-menu-item routerLink="DT_ApproveTran">
        <mat-icon>task_alt</mat-icon>
        <span>Approve Transactions</span>
      </button>
      <button mat-menu-item routerLink="DT_AccLockUnlock">
        <mat-icon>vpn_key_off</mat-icon>
        <span>Lien A/C Lock/Unlock</span>
      </button>
      <button mat-menu-item routerLink="DT_OpenAccView">
        <mat-icon>badge</mat-icon>
        <span>View Account Details</span>
      </button>
      <button mat-menu-item routerLink="DT_NEFTPayment">
        <mat-icon>currency_rupee</mat-icon>
        <span>NEFT/RTGS/IMPS Payment</span>
      </button>
      <button mat-menu-item [matMenuTriggerFor]="dds_imp_exp">
        <mat-icon>upgrade</mat-icon>
        <span>DDS Import/Export</span>
      </button>
    </mat-menu>
    <mat-menu #dds_imp_exp="matMenu">
      <button mat-menu-item routerLink="DT_DDEXPORT">
        <mat-icon>publish</mat-icon>
        <span>DDS Export</span>
      </button>
      <button mat-menu-item routerLink="DT_DDIMPORT">
        <mat-icon>file_download</mat-icon>
        <span>DDS Import</span>
      </button>
      <button mat-menu-item routerLink="DT_DDINDPOST">
        <mat-icon>man_3</mat-icon>
        <span>DDS Individual Posting</span>
      </button>
    </mat-menu>
    <mat-menu #dreport="matMenu">
      <button mat-menu-item routerLink="/DR_SubCashBook">
        <mat-icon>request_quote</mat-icon>
        <span>Sub Cash Book</span>
      </button>
      <button mat-menu-item [matMenuTriggerFor]="detail_list">
        <mat-icon>list_alt</mat-icon>
        <span>Detail List</span>
      </button>
      <button mat-menu-item [matMenuTriggerFor]="acc_stat">
        <mat-icon>real_estate_agent</mat-icon>
        <span>Account Statement </span>
      </button>
      <button mat-menu-item routerLink="DR_NearMatReport">
        <mat-icon>flag_circle</mat-icon>
        <span>Near Maturity Report</span>
      </button>
      <button mat-menu-item routerLink="DR_OpenCloseReg">
        <mat-icon>disabled_by_default</mat-icon>
        <span>Open/Closing Register</span>
      </button>
      <button mat-menu-item routerLink="DR_NeftIn">
        <mat-icon>redo</mat-icon>
        <span>NEFT Inward Report</span>
      </button>
      <button mat-menu-item routerLink="DR_NeftOut">
        <mat-icon>undo</mat-icon>
        <span>NEFT Outward Report</span>
      </button>
      <button mat-menu-item routerLink="DR_PbkPrn">
        <mat-icon>print</mat-icon>
        <span>Pass book Printing</span>
      </button>
      <button mat-menu-item [matMenuTriggerFor]="Standing_Instruction">
        <mat-icon>query_stats</mat-icon>
        <span>Standing Instruction</span>
      </button>
      <button mat-menu-item routerLink="DR_UpbkPrnSts">
        <mat-icon>print</mat-icon>
        <span>Update Passbook Print Status</span>
      </button>
    </mat-menu>
    <mat-menu #Standing_Instruction="matMenu">
      <button mat-menu-item routerLink="DR_Act_SI_List">
        <mat-icon>fact_check</mat-icon>
        <span>Active SI List</span>
      </button><button mat-menu-item routerLink="DR_Today_SI_Exec">
        <mat-icon>today</mat-icon>
        <span>Today's SI Executed</span>
      </button>
    </mat-menu>
    <mat-menu #detail_list="matMenu">
      <button mat-menu-item routerLink="DR_DLS">
        <mat-icon>savings</mat-icon>
        <span>Detail List SB/CA</span>
      </button>
      <button mat-menu-item routerLink="DR_DLR">
        <mat-icon>change_circle</mat-icon>
        <span>Detail List RD</span>
      </button>
      <button mat-menu-item routerLink="DR_DLF">
        <mat-icon>volunteer_activism</mat-icon>
        <span>Detail List FD/MIS</span>
      </button>
      <button mat-menu-item routerLink="DR_DDS"> 
        <mat-icon>data_exploration</mat-icon>
        <span>Detail List DDS</span>
      </button>
      <button mat-menu-item routerLink="DR_DLF_CONST"> 
        <mat-icon>model_training</mat-icon>
        <span>Detail List Constitution-Wise</span>
      </button>
    </mat-menu>
    <mat-menu #acc_stat="matMenu">
      <button mat-menu-item routerLink="DR_ASS">
        <mat-icon>savings</mat-icon>
        <span>Account Statement SB/CA</span>
      </button>
      <button mat-menu-item routerLink="DR_ASR">
        <mat-icon>change_circle</mat-icon>
        <span>Account Statement RD</span>
      </button>
      <button mat-menu-item routerLink="DR_ACCSTMTDDS">
        <mat-icon>data_exploration</mat-icon>
        <span>Account Statement DDS</span>
      </button>
      <button mat-menu-item routerLink="DR_ASF">
        <mat-icon>ios_share</mat-icon>
        <span>Account Statement TD</span>
      </button>
    </mat-menu>
   <!-- end deposit menu -->
   <mat-menu #loans="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="lftransaction">
      <mat-icon>currency_exchange</mat-icon>
      <span>Transaction</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="lreport">
      <mat-icon>inventory</mat-icon>
      <span>Report</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="lmaster">
      <mat-icon>engineering</mat-icon>
      <span>Master</span>
    </button>
    </mat-menu>
    <mat-menu #lftransaction="matMenu">
    <button mat-menu-item routerLink="LT_OpenLoanAcc">
      <mat-icon>real_estate_agent</mat-icon>
      <span>Open Loan Account</span>
    </button>
    <button mat-menu-item routerLink="LT_LoanTrans">
      <mat-icon>model_training</mat-icon>
      <span>Loan Transaction</span>
    </button>
    <button mat-menu-item routerLink="LT_LoanAprv">
      <mat-icon>library_add_check</mat-icon>
      <span>Approve Transaction</span>
    </button>
    <button mat-menu-item routerLink="LT_CalcIntt">
      <mat-icon>interests</mat-icon>
      <span>Calculate Loan Interest</span>
    </button>
    <button mat-menu-item routerLink="LT_Subsidy">
      <mat-icon>rate_review</mat-icon>
      <span>Subsidy Entry</span>
    </button>
    <button mat-menu-item routerLink="LT_OTS">
      <mat-icon>home_work</mat-icon>
      <span>One Time Settlement</span>
    </button>
  </mat-menu>
  <mat-menu #lreport="matMenu">
    <button mat-menu-item routerLink="LR_LoanStmt">
      <mat-icon>receipt_long</mat-icon>
      <span>Loan Ledger</span>
    </button>
    <button mat-menu-item routerLink="LR_LoanStmt">
      <mat-icon>topic</mat-icon>
      <span>Loan Statement</span>
    </button>
    <button mat-menu-item routerLink="LR_DtlLst">
      <mat-icon>subject</mat-icon>
      <span>Detail List</span>
    </button>
    <button mat-menu-item routerLink="LR_DflLst">
      <mat-icon>assignment</mat-icon>
      <span>Overdue List</span>
    </button>
    <button mat-menu-item routerLink="LR_DemandNotice">
      <mat-icon>receipt_long</mat-icon>
      <span>Demand Notice</span>
    </button>
     <button mat-menu-item routerLink="LR_OverdueNotice">
      <mat-icon>event_busy</mat-icon>
      <span>Overdue Notice</span>
    </button>
    <button mat-menu-item routerLink="LR_OverdueTransfer">
      <mat-icon>view_list</mat-icon>
      <span>Overdue Transfer List</span>
    </button>
    <button mat-menu-item  [matMenuTriggerFor]="demand_list">
      <mat-icon>playlist_add_check_circle</mat-icon>
      <span>Demand List</span>
    </button>
    
    <button mat-menu-item [matMenuTriggerFor]="demand_coll_list">
      <mat-icon>playlist_add_check</mat-icon>
      <span>Demand Collection List</span>
    </button>
    <button hidden mat-menu-item routerLink="LR_AdvRec">
      <mat-icon>rotate_90_degrees_ccw</mat-icon>
      <span>Advance Recovery Statement</span>
    </button>
    <button hidden mat-menu-item routerLink="LR_intRec">
      <mat-icon>switch_access_shortcut_add</mat-icon>
      <span>Interest Recovery Statement</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="loan_dis_reg">
      <mat-icon>add_home_work</mat-icon>
      <span>Loan Disbursement Register</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="rec_reg">
      <mat-icon>data_saver_on</mat-icon>
      <span>Recovery Register</span>
    </button>
    <button mat-menu-item routerLink="LR_openClose">
      <mat-icon>rule_folder</mat-icon>
      <span>Open/Close Register</span>
    </button>
    <button mat-menu-item routerLink="LR_SubCashBk">
      <mat-icon>auto_stories</mat-icon>
      <span>Sub Cash Book</span>
    </button>
    <button mat-menu-item routerLink="LR_NPA">
      <mat-icon>local_library</mat-icon>
      <span>NPA List</span>
    </button>
  </mat-menu>
  <mat-menu #lmaster="matMenu">
    <button mat-menu-item routerLink="LM_Kccmember">
      <mat-icon>how_to_reg</mat-icon>
      <span>KCC Member Entry</span>
    </button>
    <button mat-menu-item routerLink="LM_Blkentry">
      <mat-icon>add_location_alt</mat-icon>
      <span>Block Entry</span>
    </button>
    <button mat-menu-item routerLink="Service_Area">
      <mat-icon>add_home_work</mat-icon>
      <span>Service Area Entry</span>
    </button>
    <button mat-menu-item routerLink="LM_Villentry">
      <mat-icon>holiday_village</mat-icon>
      <span>Village Entry</span>
    </button>
  </mat-menu>
  <mat-menu #demand_list="matMenu">
    <button mat-menu-item routerLink="LR_DMLst">
      <mat-icon>groups</mat-icon>
      <span>Member-wise</span>
    </button>
    <button hidden mat-menu-item routerLink="LR_BMLst">
      <mat-icon>real_estate_agent</mat-icon>
      <span>Block-wise</span>
    </button>
    <button hidden mat-menu-item routerLink="LR_AMLst">
      <mat-icon>local_activity</mat-icon>
      <span>Activity-wise</span>
    </button>
  </mat-menu>
  <mat-menu #demand_coll_list="matMenu">
    <button mat-menu-item routerLink="LR_RELst">
      <mat-icon>groups</mat-icon>
      <span>Member-wise</span>
    </button>
    <button hidden mat-menu-item routerLink="LR_BWISECol">
      <mat-icon>real_estate_agent</mat-icon>
      <span>Block-wise</span>
    </button>
    <button hidden mat-menu-item routerLink="LR_AWISECol">
      <mat-icon>local_activity</mat-icon>
      <span>Activity-wise</span>
    </button>
  </mat-menu>
  <mat-menu #rec_reg="matMenu">
    <button hidden mat-menu-item routerLink="LR_RecReg">
      <mat-icon>recent_actors</mat-icon>
      <span>Acc-wise</span>
    </button>
    <button mat-menu-item routerLink="LR_RecRegNorm">
      <mat-icon>groups</mat-icon>
      <span>Member-wise</span>
    </button>
    <button mat-menu-item routerLink="LR_RecRegFund">
      <mat-icon>swipe_right</mat-icon>
      <span>Fund-wise</span>
    </button>
    <button mat-menu-item routerLink="LR_RecInterest">
      <mat-icon>real_estate_agent</mat-icon>
      <span>Interest Recovery</span>
    </button>
  </mat-menu>
  <mat-menu #loan_dis_reg="matMenu">
    <button hidden mat-menu-item routerLink="LR_DisReg">
      <mat-icon>recent_actors</mat-icon>
      <span>Acc-wise</span>
    </button>
    <button mat-menu-item routerLink="LR_DisNorm">
      <mat-icon>groups</mat-icon>
      <span>Member-wise</span>
    </button>
  </mat-menu>
  <!-- end loan menu -->
    
  <mat-menu #system="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="u_maintenance">
      <mat-icon>manage_accounts</mat-icon>
      <span>User Maintenance</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="d_activity">
      <mat-icon>date_range</mat-icon>
      <span>Daily Activity</span>
    </button>
    <!-- <button mat-menu-item [matMenuTriggerFor]="parameter">
      <mat-icon>filter_drama</mat-icon>
      <span>Parameter</span>
    </button> -->
  </mat-menu>
  <mat-menu #u_maintenance="matMenu">
    <button mat-menu-item routerLink="UM_AddUsr">
      <mat-icon>person_add</mat-icon>
      <span>Add User</span>
    </button>
    <button mat-menu-item routerLink="UM_UpLogStatus" *ngIf="userType!=='G' && userType!=='D'">
      <mat-icon>browser_updated</mat-icon>
      <span>Update Login-Status</span>
    </button>
    
  </mat-menu> 
  <mat-menu #d_activity="matMenu">

    <button mat-menu-item routerLink="DA_DayInit" *ngIf="userType!=='G' && userType!=='S'">
      <mat-icon>event_available</mat-icon>
      <span>Day Initialization</span>
    </button>
    <button mat-menu-item routerLink="DA_DayCmpl" *ngIf="userType!=='G'">
      <mat-icon>event_busy</mat-icon>
      <span>Day Completion</span>
    </button>
    <button mat-menu-item routerLink="DA_YearOpn">
      <mat-icon>open_in_browser</mat-icon>
      <span>Year Open</span>
    </button>
    <button mat-menu-item routerLink="DA_YearCls">
      <mat-icon>disabled_by_default</mat-icon>
      <span> Year Close</span>
    </button>
  </mat-menu>
  <mat-menu #parameter="matMenu">
    <button mat-menu-item routerLink="SP_Update">
      <mat-icon>cloud_sync</mat-icon>
      <span>System Parameter Update</span>
    </button>
  </mat-menu>
    <!-- end system meny -->
    <mat-menu #transfer="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="ttransaction">
        <mat-icon>currency_exchange</mat-icon>
        <span>Transaction</span>
      </button>
    </mat-menu>
    <mat-menu #ttransaction="matMenu">
      <button mat-menu-item routerLink="TT_TransEntry">
        <mat-icon>queue_play_next</mat-icon>
        <span>Transfer Entry</span>
      </button>
      <button mat-menu-item routerLink="TT_TransApprove">
        <mat-icon>verified</mat-icon>
        <span>Approve Transfer</span>
      </button>
    </mat-menu>
    <mat-menu #investment="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="investMaster">
        <mat-icon>engineering</mat-icon>
        <span>Master</span>
      </button>
      <button mat-menu-item [matMenuTriggerFor]="iTrans">
        <mat-icon>currency_exchange</mat-icon>
        <span>Transaction</span>
      </button>
      <button mat-menu-item [matMenuTriggerFor]="iReport">
        <mat-icon>receipt_long</mat-icon>
        <span>Report</span>
      </button>
      <mat-menu #investMaster="matMenu">
        <button mat-menu-item routerLink="I_BankEntry">
          <mat-icon>account_balance</mat-icon>
          <span>Bank Entry</span>
        </button>
        <button mat-menu-item routerLink="I_BranchEntry">
          <mat-icon>add_business</mat-icon>
          <span>Branch Entry</span>
        </button>
      </mat-menu>
      <mat-menu #iTrans="matMenu">
        <button mat-menu-item routerLink="I_Open">
         <mat-icon>lock_open</mat-icon>
          <span>Investment Opening</span>
        </button>
        <button mat-menu-item routerLink="I_ViewDtls">
          <mat-icon>view_in_ar</mat-icon>
           <span>View Investment Details</span>
         </button>
        <button mat-menu-item routerLink="I_TrnsApprov">
          <mat-icon>verified</mat-icon>
          <span>Investment Approval</span>
        </button>
        <button mat-menu-item routerLink="I_Trns">
          <mat-icon>currency_exchange</mat-icon>
          <span>Investment Transaction</span>
        </button>
        
      </mat-menu>
      <mat-menu #iReport="matMenu">
        <button mat-menu-item routerLink="IR_Detail_list">
          <mat-icon>content_paste_search</mat-icon>
          <span>Detail List</span>
        </button>
        <button mat-menu-item routerLink="IR_Near_maturity">
          <mat-icon>pending_actions</mat-icon>
          <span>Near Maturity</span>
        </button>
      </mat-menu>
    
    </mat-menu>
    <!-- <mat-menu #test="matMenu">
      <button mat-menu-item routerLink="test">
        <mat-icon>engineering</mat-icon>
        <span>Test</span>
      </button>
    </mat-menu> -->
  </div>
  
    <ul class="navbar-nav mr-auto"  *ngIf="hideMenuOnComplete && userType=='A'">
      <li>
        <label>&nbsp;&nbsp; Day has been closed, please initialize the day to start operation -> &nbsp;&nbsp;&nbsp;&nbsp;</label>
        <a routerLink="DA_DayInit"> <b>  Day Initialization </b></a>
      </li>
    </ul>
    <span class="example-spacer"></span>
     <!-- <a class="nav-link" (click)="goToHome()"><i class="fa fa-home" aria-hidden="true"></i> </a> -->
        <!-- <a class="nav-link" (click)="goToHome()">Home </a>
    
        <a class="nav-link" (click)="logout()">Logout </a> -->
        <a class="nav-link" (click)="goToHome()">  <mat-icon class="hm">home</mat-icon>Home </a>
    
        <a class="nav-link"  (click)="openModal(template)">  <mat-icon class="lo">logout</mat-icon>Logout </a>
      
   </nav>
</div>
<!-- <div class="row" *ngIf="showMenu">
    <nav class="navbar navbar-expand-lg col-md-12 col-xl-12" style="background-color: #228ed3 !important;">
      <button class="navbar-toggler" type="button" (click)="toggleCollapsed()">
        <span class="navbar-toggler-icon" style="color: white;font-size: small;"></span>
      </button>

      <div class="collapse navbar-collapse" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" *ngFor="let menu of bankConfig.menu">
            <a class="nav-link" *ngIf="menu.activeflag === 'Y'" (click)="showChildMenuFor(menu)">{{menu.name}} </a>
          </li>

        </ul>
        <ul class="navbar-nav">
          <li class="nav-item ">
            <a class="nav-link" (click)="goToHome()"><i class="fa fa-home" aria-hidden="true"></i> </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" (click)="logout()">Logout </a>
          </li>
        </ul>
      </div>

    </nav>
  </div> -->
<!-- <div class="row" *ngIf="showChildMenu">
    <nav class="navbar navbar-expand-lg col-md-12 col-xl-12">
      <button type="button" class="btn " (click)="back('child')"><i style="color: white;font-size: small;"
          class="fa fa-arrow-left"></i></button>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngFor="let cmenu of childMenu.menu">
          <a class="nav-link" *ngIf="cmenu.activeflag === 'Y'" (click)="showSubChildMenuFor(cmenu)">{{cmenu.name}} </a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link" (click)="goToHome()"><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Logout </a>
        </li>
      </ul>
    </nav>
  </div> -->

<!-- <div class="row" *ngIf="showSubMenu">
    <nav class="navbar navbar-expand-lg col-md-12 col-xl-12">
      <button type="button" class="btn" (click)="back('sub')"><i style="color: white; font-size: small;"
          class="fa fa-arrow-left"></i></button>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngFor="let sMenu of subMenu.menu">
          <a class="nav-link" *ngIf="sMenu.activeflag === 'Y'" (click)="gotoScreen(sMenu)">{{sMenu.screen}} </a>
        </li>

      </ul>
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link" (click)="goToHome()"><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" (click)="logout()">Logout </a>
        </li>
      </ul>
    </nav>
  </div> -->
<!-- <div class="row justify-content-center" *ngIf="showScreenTitle">
  <h6 class="topBody">{{selectedScreenToShow}}</h6>
</div> -->
</div>
<ng-template #template >
  <div class="modal-body text-center" >
    <p>Hello {{currUser}}, Do you want to logout?</p>
    <button mat-raised-button type="button" class="btn btn-light" (click)="decline()" >No</button>&nbsp;
    <button mat-raised-button type="button" class=" btn btn-primary" (click)="confirm()" >Yes</button>
    
  </div>
</ng-template>