<div>
  <header class="header_class">
    <div class="wrapper">
      <ul class="header_top">
        <!-- <li><strong>ARDB Name: </strong>{{ardbName}}</li> -->
        <li><strong>Organization: </strong>{{ardbName}}</li>
        <li><strong>Branch: </strong>{{sys?.BranchName}}</li>
        <li><strong>Financial Year: </strong>{{sys?.CurrentFinancialYr}}</li>
        <li><strong>User: </strong>{{sys?.UserId}}</li>
        &nbsp; <li class="date"><strong>Operation Date: </strong> {{sys?.CurrentDate | date:'dd-MM-yyyy'}}</li>
        <!-- &nbsp; <li class="date"><strong>Operation Date: </strong> {{sys?.CurrentDate}}</li> -->
        <li><strong>Current Date: </strong> {{currDt | date:'dd-MM-yyyy' }} {{currTm}}</li> 
      </ul>
    </div>
  </header>
  <div class="row" >
    <nav class="navbar navbar-expand-lg col-md-12 col-xl-12">
      
  <div class="myDivClass" [hidden]="hideMenuOnComplete">
    <span *ngFor="let item of menuItems">
      <!-- Handle branch node buttons here -->
      <span *ngIf="item.childMenuConfigs && item.childMenuConfigs.length > 0">
        <button [hidden]="item.permission=='N'" mat-button class="btn" [matMenuTriggerFor]="menu.childMenu"><mat-icon>{{item.iconName}}</mat-icon>
          {{item.menu_name}}
          <mat-icon>expand_more</mat-icon>
        </button>
        <app-menu-item #menu [items]="item.childMenuConfigs"></app-menu-item>
        <label class = "vertical"></label>
      </span>
      <!-- Leaf node buttons here -->
      <span *ngIf="!item.childMenuConfigs || item.childMenuConfigs.length === 0">
        <button mat-button [routerLink]="item.ref_page" [hidden]="item.permission=='N'">
          {{item.displayName}}
        </button>
      </span>
    </span>
  </div> 
  
    <ul class="navbar-nav mr-auto"  *ngIf="hideMenuOnComplete && userType=='A' && brnCD=='101' ">
      <li>
        <label>&nbsp;&nbsp; Day has been closed, please initialize the day to start operation -> &nbsp;&nbsp;&nbsp;&nbsp;</label>
        <a routerLink="DA_DayInit"> <b>  Day Initialization </b></a>
         <a routerLink="DA_YearOpn"   *ngIf="showOpenYear && userType=='A'"> <b>|  Year Open </b></a>
      </li>
    </ul>
    <span class="example-spacer"></span>
    
        <a class="nav-link" (click)="goToHome()">  <mat-icon class="hm">home</mat-icon>Home </a>
    
        <a class="nav-link"  (click)="openModal(template)">  <mat-icon class="lo">logout</mat-icon>Logout </a>
      
   </nav>
</div>

</div>
<ng-template #template >
  <div class="modal-body text-center" >
    <p>Hello {{currUser}}, Do you want to logout?</p>
    <button  type="button" class="btn btn-light" (click)="decline()" >No</button>&nbsp;
    <button  type="button" class=" btn btn-primary" (click)="confirm()" >Yes</button>
    
  </div>
</ng-template>

<loading *ngIf="isLoading"></loading>
