<loading *ngIf="isLoading"></loading>
<div>
  <!--  -->

  <div class="wrapper">
   
<div class="wrapperWhite">
  
  <img src="./assets/images/cfswhite.png"  class="log4">
  <!-- <img src="./assets/images/bgCus1.jpg" > -->

  <div class="mainZone">
    {{ardbName}}<br>
    {{brnName}}
  </div>
<h1></h1><br>
<h1>&nbsp;</h1><br>
<h1>&nbsp;</h1><br>
<!-- <h1>&nbsp;</h1><br>
<h1>&nbsp;</h1><br>
<h1>&nbsp;</h1><br>
<h1>&nbsp;</h1><br>
<h1>&nbsp;</h1><br> -->




  </div>

</div>
<ng-template #template >
  <div class="modal-body text-center" >
    <div id="container">
      <div id="success-box">
        <div class="dot"></div>
        <div class="dot two"></div>
        <div class="face">
          <div class="eye"></div>
          <div class="eye right"></div>
          <div class="mouth happy"></div>
        </div>
        <div class="shadow scale"></div>
        <div class="message"><h1 class="alert">Success!</h1><p>Hello {{currUser}}, everything is working.</p></div>
        <button class="button-box" (click)="closeL2L()"><h1 class="green">continue</h1></button>
      </div>
      
    </div>
   
    
  </div>
</ng-template>